<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PAC_MAN_GAME.Properties.Settings.PAC_MAN_GAME_INFOConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=PAC_MAN_GAME_INFO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>